/* #root {

} */

body {
    overflow-x: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    width: 100vw;
}

.centerText {
    text-align: center;
}

pre {
    width: 100vw;
    white-space: pre-wrap;             /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;    /* Mozilla, since 1999 */
    white-space: -pre-wrap;            /* Opera 4-6 */
    white-space: -o-pre-wrap;        /* Opera 7 */
    word-wrap: break-word;             /* Internet Explorer 5.5+ */
}

.leaflet-container { height: 60vh; width: 80vw; margin: 10px; }

.inlineDisplay {
    height: 150px;
}

.inlineDisplay>div {
    padding: 0 50px;
}

.imgFit {
    height: 120px;
}

.inlineButton {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    font-size: 50px;
    transition: 0.2s ease-in-out;
}

.inlineButton:hover {
    color: #646cff;
    cursor: pointer;
    scale: 1.1;
}

/* .inlineDisplay {
    display: flex;
} */

.top {
    top: 0;
    left: 0;
    position: absolute;
    padding: 10px;
}