/* #root {

} */

/* body {
    text-align: center;
} */

.center {
    display: flex;
    justify-content: center;
}

.full {
    width: 100vw;
}

.centerText {
    text-align: center;
}

pre {
    width: 100vw;
    white-space: pre-wrap;             /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;    /* Mozilla, since 1999 */
    white-space: -pre-wrap;            /* Opera 4-6 */
    white-space: -o-pre-wrap;        /* Opera 7 */
    word-wrap: break-word;             /* Internet Explorer 5.5+ */
}

.leaflet-container { height: 70vh; width: 80vw; margin: 10px; }

.inlineDisplay {
    height: 150px;
}

.inlineDisplay>div {
    padding: 0 50px;
}

.inlineDisplay>div>img {
    max-height: 80%;
}

.centerV {
    display : flex;
    align-items : center;
}

/* .inlineDisplay {
    display: flex;
} */